// Place all the styles related to the Api::Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'hover_transition';



.notes-index-container {
    div.index {
        position: fixed;
        height: 100%;
        // z-index: 60;
        margin-left: 75px;
    }
    z-index: 0;
    height: 100%;
    display: flex;
    div header {
        background: white;
        min-height: 65px;
        border-bottom: 1px solid $highlight-color;
        border-left: 1px solid $highlight-color;
        border-right: 1px solid $highlight-color;
        color: dimgrey;

        height: 10%;
        width: 350px;
        padding: 0;
        h1 {
            font-size: 28px;
            font-weight: 700;
            padding: 10px 10px 0 10px;
        }
        span {
            font-size: 16px;
            padding: 0 10px;
        }
        span.updated {
            float: right;
            font-size: 28px;
            color: green;
        }
        .edit:hover {
            cursor: pointer;
            background: $light-color;
            div.icon {
                background: url(https://res.cloudinary.com/nevermorte/image/upload/v1467667509/settings_1_xf5v0b.png);
                background-size: cover;
            }
        }
    }
}

.notes-index {
  li {
    list-style: none;
  }
    // z-index: 15;
    height: 90%;
    border-radius: 2px;
    background: whitesmoke;
    flex: none;
    width: 350px;
    // margin-left: 75px;
    border-bottom: 1px solid $highlight-color;
    border-left: 1px solid $highlight-color;
    border-right: 1px solid $highlight-color;
    overflow: scroll;
    li {
        padding: 0 20px;
        background: transparent;
        position: relative;
        transition: background-color 0.1s ease-in-out 0s;
          transition-property: background-color;
          transition-duration: 0.1s;
          transition-timing-function: ease-in-out;
          transition-delay: 0s;

        div {
            border-bottom: 1px solid $highlight-color;
            padding: 15px 0;
        }
        h4 {
            font-size: 20px;
        }
        h5 {
            font-size: 16px;
            margin-bottom: 10px;
            color: grey;
        }
        p {
            color: grey;
            font-size: 14px;
        }
        button {
          display: none;
          position: absolute;
          background: url(https://res.cloudinary.com/nevermorte/image/upload/v1467507240/garbage_uvgop2.png);
          background-size: cover;
          outline: 0;
          right: 10px;
          width: 26px;
          height: 26px;
        }
        button:hover {
            width: 29px;
            cursor: pointer;
            background: url(https://res.cloudinary.com/nevermorte/image/upload/v1467507244/garbage-open_z9uek3.png);
        }
    }
    li:hover {
        color: white;
        cursor: pointer;
        background-color: $base-color;
        opacity: 70%;
        h5 {
            color: white;
        }
        p {
            color: white;
        }
        button {
            display: block;
        }
        div {
            border-bottom: 1px solid transparent;
        }
    }
    .selected {
        border: 3px solid $base-color;
        background-color: whitesmoke;
    }
}

.note-form {
     height: 100%;
     flex: 1;
     min-width: 594px;
     margin-left: 425px;
     div.inputs {
       position: absolute;
       top: 50px;
       ul.tags-index {
           list-style: none;
           display: inline-block;
       }
     }
     input {
       height: 20px;
       border: 1px solid black;
     }
     .quill {
         border: 1px solid lightgrey;
         height: 100%;
/*          overflow: hidden; */
         .quill-toolbar {
           padding-bottom: 40px;
           height: 10%
         }
         .quill-contents {
           height: 95%;
           overflow-y: scroll;
           padding-bottom: 20px;
         }
     }
}
