// Place all the styles related to the Api::Notebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";
@import 'hover_transition';

div.notebooks-index.revealed {
    transition: background 0.3s ease-in-out 0s,
      left 0.4s ease-in-out 0s;
        transition-property: left, background;
        transition-duration: 0.3s, 0.3s;
        transition-timing-function: ease-in-out, ease-in-out;
        transition-delay: 0s, 0.1s;
    position: fixed;
    background: rgba(256, 256, 256, 0.7);
    top: 0;
    bottom: 0;
    left: 75px;
    right: 0;
    z-index: 3;
}

div.notebooks-index {
    height: 100%;
    div {
        background: whitesmoke;
        border-right: 3px solid $highlight-color;
        z-index: 3;
        width: 420px;
        height: 100%;
        h1 {
            background: white;
            padding: 20px;
            font-weight: 300;
            font-size: 32px;
            color: dimgray;
            border-bottom: 1px solid $highlight-color;
        }
        .create {
            position: absolute;
            left: 350px;
            top: 25px;
            width: 32px;
            height: 32px;
            background: url(https://res.cloudinary.com/nevermorte/image/upload/v1467509734/newNotebook2_yfsarr.png);
            background-size: cover;
            border-bottom: 1px solid lightgrey;
            padding: 5px;
        }
        .create:hover {
            cursor: pointer;

            background: url(https://res.cloudinary.com/nevermorte/image/upload/v1467509732/newNotebook_kulkep.png);
            background-size: cover;
            border-bottom: 2px solid $highlight-color;
        }
        ul {
            padding: 0 25px;

            li {
                padding: 10px 10px 0 10px;
                border-bottom: 1px solid $highlight-color;

            }
            li:hover {
                cursor: pointer;
                background: white;
                button {
                    display: block;
                    cursor: pointer;

                }
                button:hover {
                    background: url(https://res.cloudinary.com/nevermorte/image/upload/v1467507244/garbage-open_z9uek3.png);
                    background-size: cover;
                }

            }
            h2 {

                font-size: 22px;
            }
            span {
                margin-top: 10px;
                font-size: 18px;
                font-style: italic;

            }
            button {
                display: none;
                height: 32px;
                width: 32px;
                position: absolute;
                left: 350px;
                background: url(https://res.cloudinary.com/nevermorte/image/upload/v1467507240/garbage_uvgop2.png);
                background-size: cover;
            }
        }
    }
}
form.notebook-form {
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0s;
        transition-property: opacity;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
    left: 0;
    top: 0;
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(256, 256, 256, 0.98);
    div.modal-content {
        width: 600px;
        margin: 200px auto;
        text-align: center;
        .notebook {
            margin: 0 auto;
            background: url(https://res.cloudinary.com/nevermorte/image/upload/v1467509734/newNotebook2_yfsarr.png);
            background-size: cover;
            width: 52px;
            height: 52px;
            border-bottom: 1px solid lightgrey;
        }
        h1 {
            display: inline-block;
            padding: 15px 0;
            font-size: 20px;
            font-style: italic;
            font-weight: 300;
            color: $light-color;
            border-bottom: 1px solid $highlight-color;
        }
        input {
            text-align: center;
            margin: 55px auto;
            height: 44px;
            width: 100%;
            font-weight: 300;
            font-size: 36px;
        }
        div {
            text-align: center;
        }
        button {
            display: inline-block;
            width: 180px;
            padding: 8px;
            margin: 15px 5px;
            border-radius: 5px;
            color: $base-color;
            font-weight: 400;
            font-size: 16px;
            background: #ececec;
            border: 1px solid $highlight-color;
            @include hover-transition;
        }
        button.create {
            background: $light-color;
            color: white;
        }
        button:hover {
            cursor: pointer;
            color: $light-color;
            background: lightgray;
        }
        button.create:hover {
            color: white;
            background: $base-color;
        }
        button:disabled {
            opacity: 0.6;
            cursor: default;

        }
        button:disabled:hover {
            background: $light-color;
        }
    }
}
form.notebook-form.hidden {
    opacity: 0;
/*     background: rgba(256, 256, 256, 0); */
}
.edit {
    width: 26px;
    height: 26px;
    background: transparent;
    position: absolute;
    left: 390px;
    border-radius: 8px;
    @include hover-transition;
    overflow: visible;
    .icon {
        background: url(https://res.cloudinary.com/nevermorte/image/upload/v1467667509/settings_z9y72w.png);
        background-size: cover;
        margin: 2px auto;
        width: 22px;
        height: 22px;
    }
}
.notebook-edit {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: whitesmoke;
    text-align: center;
    cursor: default;
    div.content {
            width: 600px;
            margin: auto;
        }
    .symbol {
        width: 42px;
        height: 42px;
        background: url(https://res.cloudinary.com/nevermorte/image/upload/v1467667509/settings_z9y72w.png);
        background-size: cover;
        margin: 30px auto 0 auto;
    }
    h2 {
        display: inline-block;
        font-weight: 300;
        font-style: italic;
        border-bottom: 1px solid $highlight-color;
    }
    div.title {
        position: relative;
        display: inline-block;
        margin-top: 80px;
        label {
            position: absolute;
            font-size: 16px;
            font-weight: 300;
            border: 1px solid $highlight-color;
            border-radius: 5px;
            padding: 3px;
            margin: 6px 0 0 46px;
        }
        input {
            margin: 0 40px;
            width: 500px;
            height: 40px;
            padding-left: 60px;
            border-radius: 5px;
            border: 1px solid $highlight-color;
        }
    }
    .creator {
        text-align: left;
        margin-left: 45px;
        span {
            font-size: 16px;
            margin: 0 5px 20px 5px;
            padding: 0;
            display: inline-block;
        }
    }
    .delete {
        text-align: left;
        color: $light-color;
        margin: 10px 50px;
        font-size: 16px;
        a {
            @include hover-transition;
        }
        a:hover {
            display: inline-block;
            cursor: pointer;
            color: $base-color;
        }
    }
    .button-container {
        border-top: 1px solid $highlight-color;
        padding-top: 20px;
        button {
            display: inline-block;
            width: 180px;
            padding: 8px;
            margin: 15px 5px;
            border-radius: 5px;
            color: $base-color;
            font-weight: 400;
            font-size: 16px;
            background: #ececec;
            border: 1px solid $highlight-color;
            @include hover-transition;
        }
        button.update {
            background: $light-color;
            color: white;
        }
        button:hover {
            cursor: pointer;
            color: $light-color;
            background: lightgray;
        }
        button.update:hover {
            color: white;
            background: $base-color;
        }
        button:disabled {
            opacity: 0.6;
            cursor: default;

        }
        button:disabled:hover {
            background: $light-color;
        }
    }
}