
@import 'colors';
@import 'hover_transition';

.note-form {
     height: 100%;
     position: absolute;
    //  flex: 1;
    //  width: 100%;
     min-width: 560px;
     margin-left: 425px;
     .inputs {
       z-index: 10;
       position: absolute;
       top: 10px;
       margin-left: 15px;
       .upper-inputs {
         border-bottom: 1px solid $highlight-color;
       }
       .input {
        //  border: 1px solid black;
         display: inline-block;
         vertical-align: top;
       }
       .title {
         width: 540px;
         margin-top: 10px;
         padding-left: 5px;
         padding-bottom: 5px;
         display: block;
         font-size: 24px;
         color: $base-color;
         border-bottom: 1px solid $highlight-color;
       }
       .notebook {
         max-width: 200px;
         margin-right: 20px;
         font-size: 14px;
         font-weight: 700;
         color: dimgrey;
         .current-notebook {
           span {
             padding: 15px 20px;
           }
         }
         .current-notebook:hover {
           cursor: pointer;
         }
         .dropdown-hidden {
           display: none;
         }
         .dropdown-revealed {
           border: 2px solid $light-color;
           left: -1px;
           top: 24px;
           position: absolute;
           width: 360px;
           background: white;
           -webkit-box-shadow: 0px 2px 3px 0px $highlight-color;
           -moz-box-shadow: 0px 2px 3px 0px $highlight-color;
           box-shadow: 0px 2px 3px 0px $highlight-color;
           div.search {
             padding: 0 15px;
             border-bottom: 1px solid $light-color;
             input {
               text-align: center;
               border: 1px solid lightgrey;
               border-radius: 3px;
               width: 100%;
               padding: 10px 0;
               margin: 10px 0;
             }
           }
           ul {
             list-style: none;
             padding: 0 15px;
             overflow-y: scroll;
             li {
               color: black;
               height: 50px;
               padding: 15px 0;
               border-bottom: 1px solid $highlight-color;
               @include hover-transition;
               span {
                 margin-left: 10px;
               }
             }
             li:hover {
               cursor: pointer;
               color: $light-color;
               background: whitesmoke;
             }
             li.new-notebook {
               span {
                 margin-left: 40px;
               }
               div {
                 margin-left: 10px;
                 position: absolute;
                 width: 22px;
                 height: 22px;
                 background: url(https://res.cloudinary.com/nevermorte/image/upload/c_scale,w_32/v1467509734/newNotebook2_yfsarr.png);
                 background-size: cover;
               }
             }
             li.new-notebook:hover div {
               background: url(https://res.cloudinary.com/nevermorte/image/upload/c_scale,w_32/v1467509732/newNotebook_kulkep.png);
               background-size: cover;
             }
             li.selected {
               color: $light-color;
               position: relative;
               div {
                 width: 20px;
                 height: 20px;
                 position: absolute;
                 right: 10px;
                 bottom: 15px;
                 background: url(https://res.cloudinary.com/nevermorte/image/upload/c_scale,w_32/v1468016955/tick_1_a5x3j2.png);
                 background-size: cover;
               }
             }
             li:last-of-type {
               border-bottom: 0px solid transparent;
             }
           }
         }
       }
       .tags-index {
         list-style: none;
         font-size: 16px;
       }
     }
     .quill {
         border: 1px solid lightgrey;
         height: 100%;
/*          overflow: hidden; */
         .quill-toolbar {

          //  padding-bottom: 80px;
           position: relative;
           height: 15%;

         }
         .quill-toolbar > span {
           position: absolute;
           display: inline-block;
           border-bottom: 1px solid $highlight-color;
         }
         .quill-toolbar > span:nth-child(1) {
           bottom: 0;
           left: 10px;
         }
         .quill-toolbar > span:nth-child(2) {
           bottom: 0;
           left: 240px;
         }
         .quill-toolbar > span:nth-child(3) {
           bottom: 0;
           left: 432px;
         }
         .quill-toolbar > span:nth-child(4) {
           bottom: 0;
           left: 488px;
         }
         .quill-contents {
           height: 80%;
           overflow-y: scroll;
           padding-bottom: 20px;
         }
     }
}
