/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, figure, textarea header, h1, h2, h4, h5, p, li, ul, footer, form, input, img, label, button, span, a {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: 'Lato', sans-serif;
    text-decoration: inherit;
}

* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.group:after {
    content: "";
    display: block;
    clear: both;
}

.logo-image {
  background-image:  url(https://res.cloudinary.com/nevermorte/image/upload/v1467507361/Raven_c2pemr.jpg);
  background-size: cover;
  display: inline-block;
  width: 100px;
  height: 100px;
}

#root > div {
  height: 100%;
}

input {
  outline: none;
}

.hidden {
    position: fixed;
    left: -450px;
    z-index: 29;
    background: rgba(256, 256, 256, 0.0);
    transition: background 0.3s ease-in-out 0s,
      left 0.3s ease-in-out 0s;
        transition-property: left, background;
        transition-duration: 0.3s, 0.3s;
        transition-timing-function: ease-in-out, ease-in-out;
        transition-delay: .1s, 0s;
}

.revealed {
  
}


.logout:hover {
  cursor: pointer;
}
button {
  outline: 0;
}
