// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'hover_transition';



html {
  height: 100%;
  body {
    height: 100%;
    #root {
      height: 100%;
      div.main-page {
          height: 100%;
      }
    }
  }
}

.logout {
    z-index: 7;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 74px;
    height: 74px;
    border-radius: 5px;
    background: $light-color;
    color: white;
}
