// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'hover_transition';



html {
  height: 100%;
  body {
    height: 100%;
/*     overflow-y: hidden; */
    #root {
      height: 100%;
      div.main-page {
          height: 100%;
      }
    }
  }
}

div.logout {
  z-index: 7;
  position: fixed;
  left: 12px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid $highlight-color;
  @include hover-transition;
  div {
    width: 42px;
    height: 42px;
    margin: 3px auto;
    background: url(https://res.cloudinary.com/nevermorte/image/upload/v1467744473/logout_dwgkgo.png);
    background-size: cover;
    color: white;
  }
}
div.logout:hover {
  background: $light-color;
  div {
    background: url(https://res.cloudinary.com/nevermorte/image/upload/v1467744748/logout2_ezvydp.png);
    background-size: cover;
  }
}
