// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';
@import 'hover_transition';



html {
  height: 100%;
  body {
    height: 100%;
    #root {
      height: 100%;
    }
  }
}

.notes-index-container {
    z-index: 0;
    height: 100%;
    display: flex;
    div header {
        min-height: 55px;
        border-bottom: 1px solid $highlight-color;
        border-left: 1px solid $highlight-color;
        border-right: 1px solid $highlight-color;
        color: dimgrey;
        margin-left: 75px;
        height: 10%;
        h1 {
            font-size: 28px;
            font-weight: 700;
            padding: 0 10px;
        }
        span {
            font-size: 16px;
            padding: 0 10px;
        }
    }
}

.notes-index {
    z-index: 2;
    height: 90%;
    border-radius: 2px;
    background: whitesmoke;
    flex: none;
    width: 350px;
    margin-left: 75px;
    border-bottom: 1px solid $highlight-color;
    border-left: 1px solid $highlight-color;
    border-right: 1px solid $highlight-color;
    overflow: scroll;
    li {
        padding: 0 20px;
        background: transparent;
        position: relative;
        transition: background-color 0.3 ease-in-out 0s;
          transition-property: background-color;
          transition-duration: 0.3s;
          transition-timing-function: ease-in-out;
          transition-delay: 0s;
        
        div {
            border-bottom: 1px solid $highlight-color;
            padding: 15px 0;  
        }
        h4 {
            font-size: 20px;
        }
        h5 {
            font-size: 16px;
            margin-bottom: 10px;
            color: grey;
        }
        p {
            color: grey;
            font-size: 14px;
        }
        button {
          display: none;
          position: absolute;
          background: url(http://i.imgur.com/QMo63HG.png);
          background-size: cover;
          outline: 0;
          right: 10px;
          width: 26px;
          height: 26px;
        }
        button:hover {
            width: 29px;
            cursor: pointer;
            background: url(http://i.imgur.com/6saDnJY.png);
        }
    }
    li:hover {
        color: white;
        cursor: pointer;
        background-color: $base-color;
        opacity: 70%;
        h5 {
            color: white;
        }
        p {
            color: white;
        }
        button {
            display: block;
        }
    }
    .selected {
        border: 3px solid $base-color;
        background-color: whitesmoke;
    }
}

.note-form {
     flex: 1;
     padding-left: 20px;
     textarea {
         width: 100%;
         height: 90%;
         border: none;
         resize: none;
         outline: none;
     }
     input {
         height: 5%;
     }
}

div.notebook {
    position: absolute;
    width: 52px;
    height: 52px;
    border-radius: 20px;
    left: 14px;
    top: 300px;
    text-align: center;
    button {
        outline: 0;
        margin: 8px auto;
        width: 36px;
        height: 36px;
        background: url(http://i.imgur.com/Qo0Ag8T.png);
        background-size: cover;
    }
}
div.notebook:hover {
    z-index: 5;
    background-color: $light-color;
    border: 2px solid $light-color;
    cursor: pointer;
    button {
        cursor: pointer;
        background: url(http://i.imgur.com/qWMj5Ki.png);
        background-size: cover;
    }
}
div.notebook.selected {
    border: 2px solid $light-color;
    background: whitesmoke;
    button {
        background: url(http://i.imgur.com/qWMj5Ki.png);
        background-size: cover;
    }
}
div.notebook.selected:hover {
    background-color: $light-color;
}
div.notebooks-index.revealed {
    transition: background 0.3s ease-in-out 0s, 
      left 0.4s ease-in-out 0s;
        transition-property: left, background;
        transition-duration: 0.3s, 0.3s;
        transition-timing-function: ease-in-out, ease-in-out;
        transition-delay: 0s, 0.25s;
    position: fixed;
    background: rgba(256, 256, 256, 0.7);
    top: 0;
    bottom: 0;
    left: 75px;
    right: 0;
    z-index: 3;
}

div.notebooks-index {
    height: 100%;
    div {
        background: whitesmoke;
        border-right: 1px solid $highlight-color;
        z-index: 3;
        width: 420px;
        height: 100%;
        h1 {
            background: white;
            padding: 20px;
            font-weight: 300;
            font-size: 32px;
            color: dimgray;
            border-bottom: 1px solid $highlight-color;
        }
        .create {
            position: absolute;
            left: 350px;
            top: 25px;
            width: 32px;
            height: 32px;
            background: url(http://i.imgur.com/5xZNkPQ.png);
            background-size: cover;
            border-bottom: 1px solid lightgrey;
            padding: 5px;
        }
        .create:hover {
            cursor: pointer;

            background: url(http://i.imgur.com/NOpDtC5.png);
            background-size: cover;
            border-bottom: 2px solid $highlight-color;
        }
        ul {
            margin: 0 25px;

            li {
                height: 75px;
                border-bottom: 1px solid $highlight-color;

            }
            h2 {
                margin-top: 10px;
                font-size: 22px;
            }
            span {
                margin-top: 10px;
                font-size: 18px;
                font-style: italic;

            }
            button {
                height: 32px;
                width: 32px;
                position: absolute;
                left: 350px;
                background: green;
            }
        }    
    }
}

.sidebar {
    background: white;
    border-right: 1px solid $highlight-color;
    z-index: 6;
    position: fixed;
    width: 75px;
    height: 100%;
}

.logout {
    z-index: 7;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 74px;
    height: 74px;
    border-radius: 5px;
    background: $light-color;
    color: white;
}