// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";
@import "hover_transition";

body {
    background: white;
}

header.sign-in {
    margin: 0 auto;
    border-bottom: 1px solid $light-color;
    background-color: white;
    padding: 25px 0;
    color: $dark-color;
    text-align: center;
    width: 70%;
    h1 {
        font-size: 36px;
       font-weight: 300;
    }
}

div.sign-in {
    color: $base-color;
    font-family: 'Lato', sans-serif;;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 2px;

    label {
        position: relative;
        display: block;
        width: 100%;
        text-align: left;
        font-weight: 400;
        padding: 25px 0;
        border-bottom: 1px solid $base-color;

        input {
            padding: 10px;
            display: block;
            width: 85%;
            border-radius: 2px;
            border: 1px solid $highlight-color;
            margin: auto;

        }
        ul {
            text-align: center;
            color: #b92219;
            margin: auto;
            display: block;
            width: 80%;

            border-left: 1px solid #e4a197;
            border-right: 1px solid #e4a197;
            background-color: #ffd1d1;
            border-radius: 2px;
            li {
                font-size: 18px;
                font-weight: 300;
                opacity: 0.9;
                padding: 5px 0;
            }
            li:last-of-type {
                border-bottom: 1px solid #e4a197;
            }
        }
    }

    button {
        width: 90%;
        margin: 20px auto 0 auto;
        padding: 10px;
        border-radius: 5px;
        background: $base-color;
        color: white;
        @include hover-transition

    }
    button:hover {
        cursor: pointer;
        background: $light-color;
    }
}

footer.sign-in {
    margin: auto;
    color: black;
    text-align: center;
    padding: 25px 0;
    margin-top: 25px;
    border-bottom: 1px solid $highlight-color;
    border-top: 1px solid $highlight-color;
    background-color: #f3f3f3;
    a {
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        border-bottom: 1px solid transparent;
        color: $dark-color;
        @include hover-transition;
    }
    a:hover {

        border-bottom: 1px solid $light-color;
        color: $light-color;
    }
}
