<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/jpg" href="http://res.cloudinary.com/nevermorte/image/upload/c_scale,r_6,w_32/v1467507361/Raven_c2pemr.jpg"/>
  <link rel="shortcut icon" type="image/jpg" href="http://res.cloudinary.com/nevermorte/image/upload/c_scale,r_6,w_16/a_0/v1467507361/Raven_c2pemr.jpg"/>

  <title>Nevermorte</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300italic,300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
